html{
background-color:#F2F2F2;}


#Title h1{
height:80px;

width:100 px;
Font-family: Helvetica, Arial, Sans Serif;
Text-transform: Uppercase;

color:#696969;
font-size:50px;
padding:0px px 0px 10px;
margin:0px auto 0px auto;
}

#wrapper{
height: 600px;
width: 975px;
background-color: #F2F2F2;

margin: 20px auto 20px auto;
padding-top:10px;
}

 .divider{
 height: 50px;
 width: 950px;
 background-color:#E8E8E8;
 padding: 0px 10px 0px 10px;
 margin: 10px auto 10px auto; }
 
 .subcolumn {
 height:170px;
 width: 325px;
 
 background-color:white;
 float:left;
 }
 
 a { text-decoration:none;
 font-family: Helvetica, Arial, Sans Serif;
 font-size: 15px;
 padding:10px 10px 10px 10px;

 color:black;}
 
 .column1{
 height:600px;
 width: 625px;
 background-color: white;
 float:right;
 }
 
 .column1 h2{ 
 font-family: Helvetica, Arial, Sans Serif;
 margin: 10px 20px 10px 10px;
 color:#696969; }

 .column1 p { font-family: Helvetica, Arial, Sans Serif;
 font-size: 15px;
 padding-left: 10px;}
 
@media all and (max-width:400px)
{ 
.divider{ width: auto;
height:20px;
margin-top:50px;
margin-left: auto; 
margin-right: auto;
}
.subcolumn{ 
margin: 10px 0px 10px 0px;}
.column1 {float: none;
   width: 350px;
   height: 300px; }
 h1{ padding: 0px 0px 50px px;
 margin: 0px, 10px, 0px, 10px;} 
 }
 
 @media all and (max-width:600px) { 
 .divider{ width: 300px;
height:20px;
margin-top:50px;
margin-left: none; }
.subcolumn{ 
margin: 10px 0px 10px 0px;}
.column1 {float: none;
   width: 350px;
   height: 300px; }
 h1{ padding: 0px 0px 50px px;
 margin: 0px, 10px, 0px, 10px;}
 
 
 
 
 
 }


 